.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pageLabel {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #626A6E;
    padding: 0px;
    margin: 0px;
    margin-bottom: 9px;
    text-align: start;
}

.name {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #65A345;
    padding: 0px;
    margin: 0px;
    margin-bottom: 36px;
}

.dateLabel {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    color: #0B0C0C;
    margin: 0px;
    padding: 0px;
    margin-bottom: 14px;
}

.line {
    width: 100%;
    border-bottom: 1px solid #BFC1C3;
    margin-bottom: 29px;
}

.text {
    text-align: start;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #0B0C0C;
    margin: 0px;
    padding: 0px;
    margin-bottom: 43px;
}

.galeria {
    background-color: #F3F2F1;
    width: 100%;
    margin-bottom: 42px;
}

.galeriaLabel {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #65A345;
    text-align: start;
    margin: 0px;
    padding: 0px;
    margin-top: 49px;
    margin-bottom: 28px;
}

.photo {
    margin-bottom: 65px;
}

.linksPosition {
    width: 100%;

}

.social {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #0B0C0C;
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
    display: flex;
}

.facebook {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #00703C;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
    display: flex;

}

.fbLink {
    color: #00703C;
    text-decoration: none;
}

.fbText {
    margin-left: 5px;
}

.lineBlack {
    width: 100%;
    border-bottom: 2px solid #0B0C0C;
    margin-bottom: 31px;
}

.sameNews {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    color: #0B0C0C;
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item {
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
}

.item:last-child {
    margin-bottom: 66px;
}


/* Menu styles */

.linkList {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #0B0C0C;
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    margin-top: 37px;
    margin-bottom: 37px;
}


.linkItem {
    margin: 0px;
    padding: 0px;
    margin-right: 8px;
    text-decoration-line: underline;
}

.linkItem:last-child {
    margin-right: 0px;
    text-decoration-line: none;

}

.linkUrl {
    color: #0B0C0C;
    text-decoration-line: none;

}

.linkNameOfTopic {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #0B0C0C;
    margin: 0px;
    padding: 0px;
}

.linkSameTopics {
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #00703C;
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
}