/* Menu styles */

.linkList {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #0B0C0C;
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;


}


.linkItem {
    margin: 0px;
    padding: 0px;
    margin-top: 37px;
    margin-right: 8px;
    margin-bottom: 27px;
    text-decoration-line: underline;

}

.linkItem:last-child {
    margin-right: 0px;
    text-decoration-line: none;

}

.linkUrl {
    color: #0B0C0C;
    text-decoration-line: none;

}

.linkNameOfTopic {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #0B0C0C;
    margin: 0px;
    padding: 0px;
}